.content {
    color: #e6e6e6;
    font-family: Consolas;
    margin-left: 10px;
    margin-right: 10px;
}
.formbox{
    background-color: #333;
}
.p_textwrap {
    width: 600px;
}
.opinion_list_item {
    margin-bottom: 10px;
}
.opinion_list_content {
    width: 800px;
}